
@media (max-width: 480.98px) {
    .container{
        flex-direction: column;
        height: 2200px;
    }
    .sectA{
        width: 100%;
    }
    .eclipse{
        display: none;
    }
    .rectangle {
        margin-left: -13em;
        height: 40em;
    }
    .phone {
        margin-left: 3em;
        margin-top: -30em;
    }
    .cont2 {
        left: 2rem;
        top: 173px;
        width: 250px;
        margin-left: 7rem;
        /* margin: 0 auto; */
    }
    .avatar {
        width: 14%;
    }
    .top{
        height: 75px;
        padding-top: 0.8rem;
    }
    .top-desc {
        margin-left: 6rem;
    }
    .top-title {
        margin-left: 6rem;
    }
    .options {
    position: absolute;
    width: 5%;
    margin-left: 17rem;
    top: 2.8rem;
    }
    .price {
    width: 15rem;
    }
    .right-arr {
        position: absolute;
        top: 44.em;
        margin-left: -2rem;
        width: 9%;
    }
    .right-arr {
        margin-left: -2rem;
        width: 9%;
        margin-top: 9em;
        padding: 0.em 0.3em;
    }
    .sectB {
        width: 100%;
        margin-top: -5rem;
    }
    .sectB-content {
        padding: 1rem;
        padding-top: 17rem;
        text-align: center;
    }
    .sectB-title {
    font-size: 3rem;
    }
    .sectB-desc {
        font-size: 1rem;
    }
}
@media (min-width: 481px) and (max-width: 767.98px) {}
@media (min-width: 768px) and (max-width: 1023.98px){}
@media (min-width: 1024px) and (max-width: 1199.98px){}