
@media (max-width: 480.98px) {
    .container{
        flex-direction: column;
        height: 1400px;
    }
    .sectA{
        width: 100%;
    }
    .eclipse{
        display: none;
    }
    .rectangle {
        margin-left: -13em;
        height: 40em;
    }
    .phone {
        margin-left: 3em;
        margin-top: -30em;
        width: 19rem;
    }
    .cont2 {
        left: 1.2rem;
        top: 173px;
        width: 190px;
        margin-left: 7rem;
        /* margin: 0 auto; */
    }
    .avatar {
        width: 14%;
    }
    .top{
        height: 75px;
        padding-top: 0.8rem;
    }
    .top-desc {
        margin-left: 6rem;
    }
    .top-title {
        margin-left: 6rem;
        margin-top: -2.5rem;
    }
    .options {
    position: absolute;
    width: 5%;
    margin-left: 16rem;
    top: 2.8rem;
    }
    .price {
    width: 15rem;
    }
    .right-arr {
        position: absolute;
        top: 44.em;
        margin-left: -2rem;
        width: 9%;
    }
    .right-arr {
        margin-left: -2rem;
        width: 9%;
        margin-top: 7em;
    }
    .sectB {
        width: 100%;
        margin-top: -5rem;
    }
    .sectB-content {
        padding: 1rem;
        padding-top: 17rem;
        text-align: center;
    }
    .sectB-title {
    font-size: 2.7rem;
    }
    .sectB-desc {
        font-size:0.9rem;
        margin-left: auto;
        position: inherit;
    }
}
@media (min-width: 481px) and (max-width: 767.98px) {
    .container {
        flex-direction: column;
        height: 1600px;
       
    }
    .sectA{
        width: 100%;
    }
    .eclipse{
        display: none;
    }
    .rectangle {
        margin-left: -13em;
    }
    .phone {
        margin-left: 5em;
        width: 30em;
    }
    .cont2 {
        width: 280px;
        left: 210px;
    }
    .top {
        height: 100px;
    }
    .top-title {
        margin-left: 8rem;
    }
    .top-desc {
        margin-left: 8rem;
    }
    .options {
        position: absolute;
        width: 5%;
        margin-left: 23em;
        top: 3.8rem;
    }
    .mess1,.mess2,.mess5{
        font-size: 0.9em;
    }
    .dog-mess2 {
        font-size: 0.9rem;
    }
    .dog-mess {
        font-size: 0.9rem;
    }
    .price-mess {
        margin-left: 2.8rem;
        font-size: 1.3rem;
        margin-top: -2.4rem;
    }
    .price-tag {
        margin-left: 17rem;
        margin-top: -2.8rem;
        font-size: 1.5rem;
    }
    .price {
        height: 45px;
        margin-bottom: 9px;
    }
    .right-arr {
        position: absolute;
        top: 825px;
        margin-left: -2rem;
        width: 6%;
    }
    .sectB {
        width: 100%;
        margin-top: -5rem;
    }
    .sectB-content {
        padding: 1rem;
        padding-top: 17rem;
        text-align: center;
    }
    .sectB-title {
    font-size: 4rem;
    }
    .sectB-desc {
        font-size: 1.2rem;
        margin-left: auto;
        position: inherit;
    }
}
@media (min-width: 768px) and (max-width: 1023.98px){
    .container{
        flex-direction: column;
        height: 1500px;
    }
    .sectA{
        width: 100%;
    }
    .eclipse{
        display: none;
    }
    .rectangle {
        margin-left: -10em;
        height: 40em;
    }
    .phone {
        margin-left: 5em;
        margin-top: -35em;
        width: 35rem;
    }
    .sectB {
        width: 100%;
        margin-top: -5rem;
    }
    .sectB-content {
        padding: 1rem;
        padding-top: 17rem;
        text-align: center;
    }
    .sectB-title {
    font-size: 2.7rem;
    }
    .sectB-desc {
        font-size: 0.9rem;
    }
    .top {
        height: 120px;
    }
    .backarrow {
        margin-bottom: 0.90rem;
    }
    .top-title {
        font-size: 1.4rem;
        margin-left: 9rem;
        margin-top: -3.9rem;
    }
    .top-desc {
        font-size: 1rem;
        margin-left: 9.4rem;
        margin-top: 0.7rem;
    }
    .options {
        position: absolute;
        width: 6%;
        margin-left: 27em;
        top: 3.7rem;
    }
    .cont2 {
        width: 340px;
        height: 30px;
        top: 95px;
        left: 218px;
    }
    .mess1 {
    font-size: 1rem;
    margin-right: 209px;
    }
    .mess2 {
        font-size: 1rem;
        margin-right: 209px;
    }
    .dog-mess {
        font-size: 1rem;
    }
    .dog-mess2 {
    font-size: 1rem;
    }
    .mess5 {
    font-size: 1rem;
    margin-right: 209px;
    }
    .price {
        margin-top: 2px;
        height: 46px;
        padding-top: 2px;
    }
    .circle {
        padding-top: 0.1rem;
    }
    .price-mess {
        margin-left: 2.9rem;
        font-size: 1.3rem;
        margin-top: -2.2rem;
    }
    .price-tag {
        margin-left: 19rem;
        margin-top: -2.9rem;
        font-size: 1.7rem;
    }
    .right-arr {
        position: absolute;
        top: 913px;
        margin-left: -3rem;
        width: 6%;
    }
    .sectB-title {
        font-size: 3rem;
    }
    .sectB-desc {
        font-size: 1.4rem;
        margin-left: 13rem;
    }
    .sectB-desc {
        font-size: 1.4rem;
        margin-left: auto;
        position: inherit;
    }
}
@media (min-width: 1024px) and (max-width: 1200px){
    .container{
        flex-direction: column;
        height: 1500px;
    }
    .sectA{
        width: 100%;
    }
    .eclipse{
        display: none;
    }
    .rectangle {
        margin-left: -10em;
        height: 40em;
    }
    .phone {
        margin-left: 5em;
        margin-top: -35em;
        width: 35rem;
    }
    .sectB {
        width: 100%;
        margin-top: -5rem;
    }
    .sectB-content {
        padding: 1rem;
        padding-top: 17rem;
        text-align: center;
    }
    .sectB-title {
    font-size: 2.7rem;
    }
    .sectB-desc {
        font-size: 0.9rem;
    }
    .top {
        height: 120px;
    }
    .backarrow {
        margin-bottom: 0.90rem;
    }
    .top-title {
        font-size: 1.4rem;
        margin-left: 9rem;
        margin-top: -3.9rem;
    }
    .top-desc {
        font-size: 1rem;
        margin-left: 9.4rem;
        margin-top: 0.7rem;
    }
    .options {
        position: absolute;
        width: 6%;
        margin-left: 27em;
        top: 3.7rem;
    }
    .cont2 {
        width: 340px;
        height: 30px;
        top: 95px;
        left: 218px;
    }
    .mess1 {
    font-size: 1rem;
    margin-right: 209px;
    }
    .mess2 {
        font-size: 1rem;
        margin-right: 209px;
    }
    .dog-mess {
        font-size: 1rem;
    }
    .dog-mess2 {
    font-size: 1rem;
    }
    .mess5 {
    font-size: 1rem;
    margin-right: 209px;
    }
    .price {
        margin-top: 2px;
        height: 46px;
        padding-top: 2px;
    }
    .circle {
        padding-top: 0.1rem;
    }
    .price-mess {
        margin-left: 2.9rem;
        font-size: 1.3rem;
        margin-top: -2.2rem;
    }
    .price-tag {
        margin-left: 19rem;
        margin-top: -2.9rem;
        font-size: 1.7rem;
    }
    .right-arr {
        position: absolute;
        top: 913px;
        margin-left: -3rem;
        width: 6%;
    }
    .sectB-title {
        font-size: 3rem;
    }
    .sectB-desc {
        font-size: 1.4rem;
        margin-left: 13rem;
    }
    .sectB-desc {
        font-size: 1.4rem;
        margin-left: auto;
        position: inherit;
    }
}