body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background-color:   hsl(270, 20%, 96%);
    display: flex;
    height: 690px;
}
.sectA{
    width: 50%;
}
.sectB{
    width: 50%;
}
.rectangle{
    width: 24em;
    height: 37em;
    background-image: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-radius: 0px 0px 160px 150px;
}
.phone{
    margin-top: -34em;
    margin-left: 20em;
    background-color: hsl(270, 20%, 96%);
    border: 18px solid white;
    border-radius: 29px;

    
}
.first,.second,.third{
    width: 30%;
    border-radius: 11px;
}
.top{
    padding-top:0.6rem ;
    padding-left: 1rem;
    position: relative;
    background-image: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    height: 70px;
    border-radius: 25px 25px 12px 12px;
    
}
.backarrow{
    width: 5%;
    margin-bottom: 0.7rem;
}
.avatar{
    width: 15%;
    border-radius: 28px;
    margin-top: 1rem;
    margin-left: 0.3rem;
}
.top-title{
    font-size: 0.9rem;
    margin-left: 5rem;
    margin-top: -2.7rem;
    margin-bottom: -0.3rem;
}
.top-desc{
    font-size: 0.6rem;
    margin-left: 5rem;
    
}
.options{
    position: absolute;
    width: 5%;
    margin-left: 16em;
    top: 2.6rem;
    
}
.mess1{
    margin-top: 20px;
    color: hsl(276, 55%, 52%);
    background-color:   hsl(269, 79%, 94%);
    padding: 0.1rem 0rem 0.1rem 0.5rem;
    font-size: 0.5rem;
    border-radius: 9px 15px 20px 8px;
    margin-left: 9px;
    margin-right: 149px;
    
    
}
.mess2{
    margin-top: 14px;
    color: hsl(276, 55%, 52%);
    background-color:   hsl(269, 79%, 94%);
    padding: 0.1rem 0rem 0.1rem 0.5rem;
    font-size: 0.5rem;
    border-radius: 9px 15px 20px 8px;
    margin-left: 9px;
    margin-right: 149px;
}
.cont{
    margin-left:9em;
    margin-top: 1.5rem;
}
.dog-mess{
    font-size: 0.5rem;
}
.dog-mess2{
    font-size: 0.5rem;
}
.mess3,.mess4{
    margin-top: 0.4rem;
    color: hsl(271, 15%, 43%);
    background-color:   white;
    padding: 0.1rem 0rem 0.1rem 0.5rem;
    font-size: 0.5rem;
    border-radius: 9px 15px 20px 8px;
    margin-right: 0.5rem;
}
.mess5{
    margin-top: 12px;
    color: hsl(276, 55%, 52%);
    background-color:   hsl(269, 79%, 94%);
    padding: 0.1rem 0rem 0.1rem 0.5rem;
    font-size: 0.5rem;
    border-radius: 9px 15px 20px 8px;
    margin-left: 9px;
    margin-right: 149px;
}
.price{
    margin-top: 4px;
    margin-left: 7px;
    background-image: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    height: 36px;
    padding-top: 6px;
    padding-left: 3px;
    margin-right:89px ;
    border-radius: 9px 11px 11px 5px;
}
.circle{
    width: 9%;
    padding-top: 0.3rem;
    opacity: 0.4;
}
.price-mess{
    margin-left: 1.6rem;
    font-size: 0.6rem;
    margin-top: -1.2rem;
}
.price-tag{
    margin-left: 12rem;
    margin-top: -1.4rem;
    font-size: 0.8rem;
}
.message{
    color:  hsl(206, 6%, 79%);
    padding: 0.6rem;
    width: 80%;
    margin-left: 1.2rem;
    border: 5px solid white;
    border-radius: 23px;
    margin-bottom: 13px;
}
.cont2{
    position: absolute;
    background-color: white;
    width: 200px;
    height: 25px;
    top: 60px;
    left: 405px;
    z-index: 1;
    border-radius: 0px 0px 14px 14px;
    
    
}
.input{
    margin-top: 26px;
}
.right-arr{
    position: absolute;
   top: 593px;
    margin-left: -2rem;
    width: 3%;
}
.sectB-content{
    padding: 5rem;
    padding-top:17rem;
}
.sectB-title{
    color: hsl(271, 36%, 24%);
    font-size: 2rem;
}
.sectB-desc{
    position: absolute;
    color:hsl(270, 7%, 64%);
    font-size: 0.9rem;
    margin-top: -0.9rem;
    z-index: 1;
}
.eclipse{
    background-color:rgb(236, 234, 234) ;
    width: 18em;
    height: 570px;
    position: absolute;
    top: 115px;
    right: 0px;
    border-radius: 35em 20px 0px 0px;
}

